<section class="section testimonials py-5">
  <div class="container">
    <div class="row pb-5">
      <div class="col-12">
        {{ with .content.title }}
          <h3 class="fs-1 fw-bold text-center text-primary pb-3">{{ . }}</h3>
        {{ end }}
      </div>
    </div>
    <div class="row">
      {{ range $i, $e := .content.list }}
        <div class="col-12">
          <div class="card border-0 border-radius-34 p-4">
			{{ with $e.text }}
			  {{ . | markdownify }}
			{{ end }}
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</section>
