<footer class="shared footer bg-blue-light py-5">
  <div class="container">
    <div class="row pb-5">
      <div class="col-12 col-xl-4 text-center text-xl-start pb-4">
        <h4 class="fs-4 fw-semibold text-uppercase text-primary"><a class="text-decoration-none" href="/">{{ .Site.Title }}</a></h4>
        <p class="small text-black-61">{{ .Site.Params.description }}</p>
        {{ with .Site.Params.social }}
        <ul class="d-flex justify-content-center justify-content-xl-start list-unstyled">
          {{ with .site }}<li class="rounded-circle bg-blue-63 me-2 p-2"><a class="d-flex align-items-center justify-content-center size-16" href="{{ . }}">{{ partial "icons/site.html" }}</a></li>{{ end }}
          {{ with .telegram }}<li class="rounded-circle bg-blue-63 me-2 p-2"><a class="d-flex align-items-center justify-content-center size-16" href="{{ . }}">{{ partial "icons/telegram.html" }}</a></li>{{ end }}
          {{ with .email }}<li class="rounded-circle bg-blue-63 me-2 p-2"><a class="d-flex align-items-center justify-content-center size-16" href="{{ . }}">{{ partial "icons/email.html" }}</a></li>{{ end }}
        </ul>
        {{ end }}
      </div>
      <div class="col-12 col-xl-2 text-center text-xl-start pb-4">
        <h5 class="fs-6 fw-semibold text-primary">Features</h5>
        <ul class="list-unstyled">
          {{ range .Site.Menus.footer }}
            <li class="">
              <a class="small text-black-61 text-decoration-none" href="{{ .URL }}">{{ .Name }}</a>
            </li>
          {{ end }}
        </ul>
      </div>
      <div class="col-12 col-xl-3 text-center text-xl-start pb-4">
        <h5 class="fs-6 fw-semibold text-primary">Sources &amp; Community</h5>
        <ul class="list-unstyled">
          {{ range .Site.Params.community }}
            <li class="d-flex justify-content-center justify-content-xl-start mb-2">
              <a class="small text-black-61 text-decoration-none" href="{{ .url }}">{{ .name }}</a>
            </li>
          {{ end }}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {{ with .Site.Params.copyright }}
          <p class="small text-black-61 text-center">{{ . }}</p>
        {{ end }}
      </div>
    </div>
  </div>
</footer>
